@use "@/assets/styles/variables.scss" as *;

.form-container {
    border: 1px solid #ddd;
    background-color: $color-background;
    padding: 2em 2.8em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;

    &--left {
        margin-right: 30%;
        min-height: 515px;
    }

    &--right {
        margin-left: 30%;
        margin-bottom: 1rem;
    }

    &__error {
        text-align: center;
        color: $color-red;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: $spacing-l;

    &__schema {
        width: 100%;
        min-height: 200px;
        resize: vertical;
    }

    &__row {
        display: flex;
        position: relative;
        flex: 1;
        flex-direction: column;
        gap: $spacing-xs;
    }

    &__input {
        border: none;
        background-color: transparent;
        border-bottom: 1px solid #ccc;
        font-size: 1.2rem;
        padding: 4px;
        outline: none;

        &--checkbox {
            margin-right: auto;
        }
    }

    &__option {
        background-color: $color-background;
    }

    &__errors {
        position: absolute;
        display: flex;
        bottom: -1.2rem;
        gap: $spacing-xs;
    }

    &__error {
        color: $color-red;
    }

    &__button {
        background: $color-red;
        color: white;
        opacity: .6;
        border-color: transparent;
        cursor: default;
        padding: .7em 1.4em;
        border-radius: 8px;
        align-self: start;
        font-size: .9rem;

        &:hover {
            filter: brightness(.5);
        }
    }
}