@use "@/assets/styles/form.scss" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 17px;
    font-weight: 500;
}

.app {
    &__container {
        display: flex;
        flex-direction: column;
        max-width: 920px;
        margin: 0 auto;
    }

    &__title {
        align-self: center;
        font-weight: 400;
        font-size: 43px;
        margin-top: 1.1em;
        margin-bottom: .2em;
    }

    &__subtitle {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }
}